tex_folder/aux_folder/*
tex_folder/aux_folder/main_tex.pdf
python/.venv/
tex_folder/indent.log
lyx_folder/#linearized_model.lyx#
.lyx#
lyx_folder/#linearized_model.lyx#
lyx_folder/linearized_model.lyx~
python/__pycache__/
GEMINI.md
python/linearization_of_model.egg-info/dependency_links.txt
python/linearization_of_model.egg-info/PKG-INFO
python/linearization_of_model.egg-info/requires.txt
python/linearization_of_model.egg-info/top_level.txt
python/linearization_of_model.egg-info/SOURCES.txt
lyx_folder/#linearized_model.lyx#
*.lyx#
*.pyc
*.lyx~
