operators.lyx
mathSymbols.lyx
mathSymbols.tex
mathSymbolsLyx.tex
mathSymbolsLyxOld.lyx
mathSymbolsQtikz.tex
mathSymbolsLyxOld.lyx
indent.log
mathSymbols.tex
mathSymbolsLyx.lyx
mathSymbolsLyxOld.lyx
mathSymbolsQtikz.tex
operators.tex
operators.lyx
operators.lyx~
operators.tex
